{% extends "base/base.html" %}
{% load i18n %}

{% block content %}
    <section>
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2 d-flex align-items-center"
                 data-background="assets/img/hero/category.jpg">
                <div class="container">
                    <h2>Registration</h2>
                    <form method="post" action=".">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="{% trans 'Submit' %}"/>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
