{% extends "base/base.html" %}
{% load i18n %}

{% block content %}
<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/category.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Success</h2>
                        {% trans "You are now registered. Activation email sent." %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}